.leftBar {
  display: block;
  width: 200px;
  height: 548px;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .addCategory {
    background: #000;
    color: white;
    height: 40px;
  }
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  border-bottom: 2px solid black;
  background: rgb(88, 75, 0);
  cursor: pointer;
  &:hover {
    background: rgb(255, 217, 0);
  }
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.active {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85px;
  border-bottom: 2px solid black;
  background: rgb(88, 75, 0);
  cursor: pointer;
  &:hover {
    background: rgb(255, 217, 0);
  }
  font-size: 30px;
  color: rgb(255, 0, 0);
}
