.addTodo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 200px;
  height: 80px;
  border: solid 2px black;
  z-index: 100;
  background: rgb(194, 178, 178);
  .textTodo {
    height: 25px;
    border: 2px solid black;
  }
  .addTodoButton {
    background: #000;
    color: white;
    width: 80px;
    height: 20px;
    border-radius: 20px;
  }
  .priority {
    margin-left: 16px;
    display: flex;
    align-items: center;
    input {
      margin: 0px 0px 0px 10px;
    }
  }
}

.editTodo {
  position: relative;
  margin: 25px;
  width: 180px;
  height: 200px;
  border: 2px solid black;

  .textTodo {
    margin-top: 40px;
    height: 25px;
    border: 2px solid black;
  }
  .addTodoButton {
    font-weight: bold;
    font-size: 15px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: rgb(13, 254, 1);
    color: rgb(0, 0, 0);
    width: 176px;
    height: 50px;
    &:hover {
      background: rgb(150, 255, 144);
    }
  }
  .priority {
    display: flex;
    align-items: center;
    input {
      margin: 0px 0px 0px 10px;
    }
  }
}
