.header {
  height: 50px;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  .title {
    font-weight: bold;
    font-size: 25px;
    line-height: 24px;
    text-transform: uppercase;
    margin-left: 20px;
    &:after {
      content: '';
    }
  }
  .categoryName {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    margin-left: 30px;
    span {
      color: red;
    }
  }
  .todoCount {
    position: absolute;
    top: 12px;
    right: 150px;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    b {
      color: red;
    }
  }
}
